/*
Assignment 1 - CSI3140 - Summer 2022

Ibrahim Maalej - 300145176
Mayowa Awosiyan - 300127459
*/

body{
	letter-spacing: 0.4px;
	line-height: 150%;
	padding: 0; 
	margin: 0;
	font-family: 'Share Tech Mono', Monospace, Courier; 
	font-size: 16px;
	color: #fff;
	background: #161616;
}
h1{
	color: #ba4df9;
	margin-bottom: -32px;
	font-size: 32px;
}
h2{
	color: #ba4df9;
	font-size: 28px;
	text-align: center;
}

hr{
	border: 1px dashed white;
}
li{
 	display:inline-block;
}
ul{
  margin: 0;
  overflow:hidden;
  padding: 0;
  list-style:none;
}

.head {
    display: block;
    margin-bottom: 30px;
    margin-top: 6px;
    text-align: right;
   	
}

.headerspace {
    margin: 0 5px;
}

.header{
	height: 66px;
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: dotted 1px #444;

}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
#nava{
	text-decoration: none; 
	color: #fff;
}
#nava:hover{
	color: #ba4df9;
}

a{
	text-decoration: underline;
	
	color: #ba4df9;
}

a:hover{
	
	color: #c466fa;
}
html{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

pre             {padding: 0; margin: 0 0 50px 0;}

span            {padding: 0; margin: 0 10px 0 0;color:#9c00f7;}
p               {padding: 0; margin: 10px 0 30px 0;}

#content        {max-width:100%; margin: auto;}
#footer 		{max-width: 900px; margin:auto; margin-top: 55px;}
.header			{height: auto; width: 100%; margin: auto; margin-bottom: 34px; border-bottom: dotted 1px #444;}

.gallery-row{
	display:flex;
	flex-direction:column;
}
.gallery{
	
	display: flex;
	justify-content: space-around;
	
}
.art{
	margin: 2%;
	position:relative;
	transition-duration: 1s;
}


.piece{
	width: auto;
	height: 300px;
	border-radius: 5px;
	box-shadow: 5px 5px #141414;
	transition-duration: 1s;
    /*margin: 0 20px;*/
}
.pieceSelected{
	width: auto;
	height: 300px;
	border-radius: 5px;
	transition-duration: 0s;
	border: 5px solid #ba4df9;
    /*margin: 0 20px;*/
}

.bottom-right{
	position: absolute;
	bottom: 8px;
	left: 16px;
}

.art:hover{
	transform: scale(1.2);
}
